{% include "block.html" %}
<body> 
    <h3>id categorie : "{{name.id}}"</h3>
    <form action="/categorie.php" method="post">
        id (laisser vide pour creer une nouvelle categorie) :<br>
        <input type="text" name="id" value="{{name.id}}"><br><br>
        nom :<br>
        <input type="text" name="nom" value="{{name.nom}}"><br><br>
        description :<br>
        <input type="text" name="description" value="{{name.description}}"><br><br>
        <input name="submit" type="submit" value="Submit">
    </form> 
</body>