{% include "block.html" %}
<body>
    <table border="1">
        <caption><h3>Categories</h3></caption>
        <tr>
            <th>id</th>
            <th>nom</th>
            <th>description</th>
        </tr>
        {% for i in categories %}
        <tr>
            <td><a href="/categories/{{i.id}}">{{ i.id }}</a></td>
            <td>{{ i.nom }} </td>
            <td>{{ i.description }} </td>
        </tr>
        {% endfor %}
    </table>
</body>