{% include "block.html" %}
<body> 
    <form action="/creationsandwiche" method="post">
        nom :<br>
        <input type="text" name="nom" value=""><br><br>
        description :<br>
        <input type="text" name="description" value=""><br><br>
        type_pain :<br>
        <input type="text" name="type_pain" value=""><br><br>
        prix :<br>
        <input type="text" name="prix" value=""><br><br>
        <input name="submit" type="submit" value="Submit">
    </form> 
</body>