{% include "block.html" %}
<body> 
    <form action="/creationcategorie" method="post">
        nom :<br>
        <input type="text" name="nom" value=""><br><br>
        description :<br>
        <input type="text" name="description" value=""><br><br>
        <input name="submit" type="submit" value="Submit">
    </form> 
</body>