{% include "block.html" %}
<body>
<p id="main">
    <h3>Application suivi du catalogue</h3>
    par la team PAM
</p>
</br>
<p>
    <div>{{ name }}</div></br>
        {% if name == "sandwiche créé" %}
            <a href="/creationsandwiche">Retour</a>
        {% endif %}
        {% if name == "categorie créée" %}
            <a href="/creationcategorie">Retour</a>
        {% endif %}
</p>
</body>