<!DOCTYPE html>
<head>
    <title>Suivi du catalogue</title> 
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="navigation.css">
</head>
<body>
<p id="main">
    <h3>Application suivi du catalogue</h3>
    par la team PAM
</p>
</br>
<p>
    <div>Connexion</div></br>
    <form action="/bienvenue" method="post">
        email :<br>
        <input type="email" name="email" value="test@test.fr"><br><br>
        mot de passe :<br>
        <input type="password" name="motdepasse" value="motdepasse"><br><br>
        <input name="submit" type="submit" value="Submit">
    </form></br>
    <p> {{name}}</p>
    <a href="/creercompte">Créer un compte</a>
</p>
</body>