{% include "block.html" %}
<body>
    <table border="1">
        <caption><h3>Sandwiches</h3></caption>
        <tr>
            <th>id</th>
            <th>nom</th>
            <th>description</th>
            <th>type_pain</th>
            <th>prix</th>
        </tr>
        {% for i in sandwiches %}
        <tr>
            <td><a href="/sandwiches/{{i.id}}">{{ i.id }}</a></td>
            <td>{{ i.nom }} </td>
            <td>{{ i.description }} </td>
            <td>{{ i.type_pain }} </td>
            <td>{{ i.prix }} </td>
        </tr>
        {% endfor %}
    </table>
</body>