{% include "block.html" %}
<body> 
    <h3>id sandwiche : "{{name.id}}"</h3>
    <form action="/sandwiche.php" method="post">
        id (laisser vide pour creer un nouveau sandwiche) :<br>
        <input type="text" name="id" value="{{name.id}}"><br><br>
        nom :<br>
        <input type="text" name="nom" value="{{name.nom}}"><br><br>
        description :<br>
        <input type="text" name="description" value="{{name.description}}"><br><br>
        type_pain :<br>
        <input type="text" name="type_pain" value="{{name.type_pain}}"><br><br>
        prix :<br>
        <input type="text" name="prix" value="{{name.prix}}"><br><br>
        <input name="submit" type="submit" value="Submit">
    </form> 
</body>